.cover__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    box-sizing: border-box;
    width: 1184px;
    min-height: 740px;
    position: relative;
    z-index: 0;
    text-decoration: none; 
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    row-gap: 32px;
    cursor: url(../../../images/Pointer.png) 2 2, pointer;
}

@media screen and (max-width: 1279px) {
    .cover__link  {
        width: 1024px;
        min-height: 640px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__link  {
        width: 768px;
        min-height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .cover__link {
        width: 320px;
        min-height: 200px;
        row-gap: 16px;
    }
}

.cover__link:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: #2A2C2F;
    opacity: 0.3;   
    z-index: -1;
    transition: opacity 200ms ease-in-out;
}

.cover__link:hover:before {
    opacity: 0.8;
  }