.place__paragraphs {
    max-width: 484px;
    grid-area: text;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

@media screen and (max-width: 1279px) {
    .place__paragraphs  {
        max-width: 456px;
        row-gap: 27px;
    }
}

@media screen and (max-width: 1023px) {
    .place__paragraphs  {
        max-width: 352px;
        row-gap:25px;
    }
}

@media screen and (max-width: 767px) {
    .place__paragraphs  {
        max-width: 288px;
        margin-left: 16px;
    }
}