.place__paragraphs {
    min-height: 375px;
    width: 484px;
    grid-area: text;
}

@media screen and (max-width: 1279px) {
    .place__paragraphs  {
        width: 456px;
    }
}

@media screen and (max-width: 1023px) {
    .place__paragraphs  {
        width: 352px;
    }
}

@media screen and (max-width: 767px) {
    .place__paragraphs  {
        width: 288px;
        padding-left: 16px;
        padding-right: 16px;
    }
}