.footer__card {
    margin-right: 18px;
}

@media screen and (max-width: 767px) {
    .footer__card  {
    margin-bottom: 32px;
    }
}

.footer__card:last-child {
    margin-right: 0;
    margin-bottom: 0;
}