.content__places {
    margin: 0 148px;
}

@media screen and (max-width: 1279px) {
    .content__places  {
        margin: 0 48px;
    }
}

@media screen and (max-width: 1023px) {
    .content__places  {
        margin: 0 24px;
    }
}

@media screen and (max-width: 767px) {
    .content__places  {
        margin: 0;
    }
}