.place__paragraph {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 163%;
}

@media screen and (max-width: 1023px) {
    .place__paragraph  {
        font-size: 16px;
    }
}

.place__paragraph:first-child {
        padding-bottom: 26px;
}

@media screen and (max-width: 1279px) {
    .place__paragraph:first-child  {
        padding-bottom: 27px;
    }
}

@media screen and (max-width: 1023px) {
    .place__paragraph:first-child  {
        padding-bottom: 25px;
    }
}