.page__footer {
    margin: 92px 48px 24px 48px;
   }
   
   @media screen and (max-width: 1023px) {
       .page__footer  {
           margin: 88px 24px 24px 24px;
       }
   }
   
   @media screen and (max-width: 767px) {
       .page__footer  {
           margin: 64px 118px 24px 16px; 
       }
   }